<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://kit.fontawesome.com/db07547623.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <title>{{title}}</title>
     <style>
body {
  background-image: url("https://sun9-70.userapi.com/impg/iSEOWE_LK7FMbVhRPS-9h1TWHSgugqlRTDjWLw/BpBMvNHkqaw.jpg?size=1920x1080&quality=96&sign=f8484a7209a22016ebaa7f6d3b1c6fff&type=album");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://sun9-15.userapi.com/impg/hrEgCw0TPkQl5YrILGdsJiEQU9YBPQqaLMHulA/zV1U5f8wYlg.jpg?size=714x714&quality=96&sign=804dd2617a3bc604d0b6ba78ff8addd1&type=album" alt="" width="30" height="30" class="d-inline-block align-text-top">
      Home Workshop
    </a>
      {% if current_user.is_authenticated %}
    <a class="navbar-brand" href="/logout">Выйти</a>
      {% endif %}
  </div>
</nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
{% if current_user.is_authenticated %}
    <footer style="background-color: #f0f0f0; padding: 40px 0; color: #000; flex: 0 0 auto;">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="footer-left">
                    <a href="#" style="color: #000; margin-right: 20px">Terms and conditions</a>
                    <a href="#" style="color: #000; margin-right: 20px">Privacy</a>
                    <span style="text-align: center">by Dmitrii Rubanov</span>
                </div>
                <div class="footer-right">
                    <span>Follow</span>
                    <a href="https://vk.com/aleksrubanoff" style="color: #626262; margin-left: 20px"><i class="fab fa-vk"></i></a>
                    <a href="https://www.instagram.com/aleks_rubanoff/" style="color: #626262; margin-left: 20px"><i class="fab fa-instagram"></i></a>
                    <a href="http://ok.ru/aleksrubanoff" style="color: #626262; margin-left: 20px"><i class="fab fa-odnoklassniki"></i></a>
                </div>
            </div>
        </div>
    </footer>
    {% endif %}
</body>
</html>