{% extends "base.html" %}

{% block content %}
<center><font color="white" face="JasmineUPC"><h1>Регистрация</h1></font></center>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email(class="form-control", type="email", id="exampleFormControlInput1", placeholder="Введите адрес электронной почты") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password(class="form-control", type="password", placeholder="Введите пароль") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password_again(class="form-control", type="password", placeholder="Повторите пароль") }}<br>
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.name(class="form-control", placeholder="Введите ваше имя") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-outline-light") }} <a href="/login" type="button" class="btn btn-link btn-sm">У меня уже есть аккаунт</a></p>
    <div class="shadow p-3 mb-5 bg-body rounded"><font color="white" face="JasmineUPC"> {{message}} </font></div>
</form>
{% endblock %}