{% extends "base.html" %}

{% block content %}
<title>Магазин</title>

<br>

</br>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://sun9-59.userapi.com/impf/c831408/v831408999/82c0d/22CarAA580M.jpg?size=2560x1661&quality=96&sign=ed2ac6897d66c5916bb3b0e6ac757803&type=album" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Вешалки</h5>
          <h5 class="card-title" align="right" style="font-weight:bold">Цена: 500₽</h5>
        <p class="card-text">Вешалка (также плечики, тремпель) — приспособление для хранения одежды в подвешенном состоянии.</p>
          <a href="#" class="btn btn-success">Перейти к товару</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://sun9-17.userapi.com/impg/c855120/v855120871/193254/qsm1Y4AqiRo.jpg?size=1536x1182&quality=96&sign=8a29a3e1eb24b3e2badf5830730843c0&type=album" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Топперы</h5>
          <h5 class="card-title" align="right" style="font-weight:bold">Цена: 250₽</h5>
        <p class="card-text">Топперы — необычные сервировочные украшения: зубочистка или шпажка с надписью или картинкой на одном конце. Их применяют в основном для сладостей, тортов, пирожных и капкейков.</p>
          <a href="#" class="btn btn-success">Перейти к товару</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://sun9-7.userapi.com/impf/c850132/v850132352/13b8cf/qa6Jb2iX5dw.jpg?size=1536x1182&quality=96&sign=da7a4d969fde8843f32127c6f83cdef8&type=album" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Аксессуары и спортивная атрибутика</h5>
          <h5 class="card-title" align="right" style="font-weight:bold">Цена: 100₽</h5>
        <p class="card-text">Аксессуар — необязательный предмет, сопутствующий чему-либо; принадлежность чего-либо. Может улучшить, украсить или дополнить что-либо.</p>
          <a href="#" class="btn btn-success">Перейти к товару</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://sun9-43.userapi.com/impg/c855120/v855120871/193149/kf7-SvSK6wo.jpg?size=1536x1182&quality=96&sign=c352e4cafa1f9119f5fcc0224a91b384&type=album" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Канцелярские товары</h5>
          <h5 class="card-title" align="right" style="font-weight:bold">Цена: 400₽</h5>
        <p class="card-text">Канцелярские товары (канцтовары) — это изделия и принадлежности, используемые для переписки и оформления бумажной документации, учебы, творчества. Канцелярские товары составляют отдельную статью в расходах любого предприятия.</p>
          <a href="#" class="btn btn-success">Перейти к товару</a>
      </div>
    </div>
  </div>
     <div class="col mb-4">
    <div class="card h-100">
      <img src="https://sun9-46.userapi.com/impf/c854120/v854120513/8007a/rXOFVwzw_-Y.jpg?size=1182x1537&quality=96&sign=2025ce75b02a615c24938ed2f1f41d5b&type=album" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Свадебная атрибутика</h5>
          <h5 class="card-title" align="right" style="font-weight:bold">Цена: 800₽</h5>
        <p class="card-text">Свадебная атрибутика — это важные части декора, которые сделают свадьбу незабываемой.</p>
          <a href="#" class="btn btn-success">Перейти к товару</a>
      </div>
    </div>
  </div>
     <div class="col mb-4">
    <div class="card h-100">
      <img src="https://sun9-11.userapi.com/impf/c840328/v840328587/59e4c/fm97QUtcA8g.jpg?size=2201x2160&quality=96&sign=75f431e7e7fa572918c2a4878ac12d40&type=album" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Часы</h5>
          <h5 class="card-title" align="right" style="font-weight:bold">Цена: 800₽</h5>
        <p class="card-text">Часы — это приборы для измерения текущего времени.</p>
          <a href="#" class="btn btn-success">Перейти к товару</a>
      </div>
    </div>
  </div>
     <div class="col mb-4">
    <div class="card h-100">
      <img src="https://sun9-71.userapi.com/impf/c844721/v844721730/124114/Q_HbR7BNWko.jpg?size=1849x1228&quality=96&sign=d46cd6e51b7b675e08891715922e4e6d&type=album" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Медальницы</h5>
          <h5 class="card-title" align="right" style="font-weight:bold">Цена: 1200₽</h5>
        <p class="card-text">Медальницы — это особые держатели и всевозможные шкатулки, которые предназначены для хранения большого количества медалей, памятных знаков, символики и других атрибутов.</p>
          <a href="#" class="btn btn-success">Перейти к товару</a>
      </div>
    </div>
  </div>
    <div class="col mb-4">
    <div class="card h-100">
      <img src="https://sun9-62.userapi.com/impf/c850132/v850132352/13bb9f/6prZe5XKOT0.jpg?size=1536x1182&quality=96&sign=b8b8752283046c16b25a1ed08270c15b&type=album" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Шкатулки</h5>
          <h5 class="card-title" align="right" style="font-weight:bold">Цена: 800₽</h5>
        <p class="card-text">Шкатулка — маленькая коробка или ящик обычно, но не всегда, в форме прямоугольного параллелепипеда, используемая для хранения драгоценностей, денег, бумаг и других мелких, но обычно ценных предметов.</p>
          <a href="#" class="btn btn-success">Перейти к товару</a>
      </div>
    </div>
  </div>
    <div class="col mb-4">
    <div class="card h-100">
      <img src="https://sun9-64.userapi.com/impf/c849332/v849332133/b4ef5/u1H1eDvrvRQ.jpg?size=2045x1228&quality=96&sign=bdf8cdd837e36bc1aaf7065cd863c937&type=album" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Таблички на дом</h5>
          <h5 class="card-title" align="right" style="font-weight:bold">Цена: 600₽</h5>
        <p class="card-text">Табличка на дом — это не только показатель адреса вашего дома, но и его украшение.</p>
          <a href="#" class="btn btn-success">Перейти к товару</a>
      </div>
    </div>
  </div>
    <div class="col mb-4">
    <div class="card h-100">
      <img src="https://sun9-35.userapi.com/impg/mSsrxM9c2qKuPlv4SKD6A8pwFl0AsUaGpez2ug/SkR-eF3RfJ0.jpg?size=1182x1537&quality=96&sign=639075d52d23324e30032a9e4a5a6d5c&type=album" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Фоторамки</h5>
          <h5 class="card-title" align="right" style="font-weight:bold">Цена: 2500₽</h5>
        <p class="card-text">Фоторамки — это не только приспособление для демонстрации фотографий, но и часть декора.</p>
          <a href="#" class="btn btn-success">Перейти к товару</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}