{% extends "base.html" %}

{% block content %}
<title>Магазин</title>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="https://sun9-59.userapi.com/impf/c831408/v831408999/82c0d/22CarAA580M.jpg?size=2560x1661&quality=96&sign=ed2ac6897d66c5916bb3b0e6ac757803&type=album" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://sun9-17.userapi.com/impg/c855120/v855120871/193254/qsm1Y4AqiRo.jpg?size=1536x1182&quality=96&sign=8a29a3e1eb24b3e2badf5830730843c0&type=album" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://sun9-7.userapi.com/impf/c850132/v850132352/13b8cf/qa6Jb2iX5dw.jpg?size=1536x1182&quality=96&sign=da7a4d969fde8843f32127c6f83cdef8&type=album" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://sun9-43.userapi.com/impg/c855120/v855120871/193149/kf7-SvSK6wo.jpg?size=1536x1182&quality=96&sign=c352e4cafa1f9119f5fcc0224a91b384&type=album" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}