<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        crossorigin="anonymous">
  <title>Добро пожаловать</title>
 </head>
 <style>
body {
  background-image: url("https://sun9-70.userapi.com/impg/iSEOWE_LK7FMbVhRPS-9h1TWHSgugqlRTDjWLw/BpBMvNHkqaw.jpg?size=1920x1080&quality=96&sign=f8484a7209a22016ebaa7f6d3b1c6fff&type=album");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
 <header>
  <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://sun9-15.userapi.com/impg/hrEgCw0TPkQl5YrILGdsJiEQU9YBPQqaLMHulA/zV1U5f8wYlg.jpg?size=714x714&quality=96&sign=804dd2617a3bc604d0b6ba78ff8addd1&type=album" alt="" width="30" height="30" class="d-inline-block align-text-top">
      Home Workshop
    </a>
  </div>
</nav>
 </header>
<body>
<font color="white" face="JasmineUPC" style="position: absolute; top: 120px; left: 425px;"><h1>Добро пожаловать в интернет магазин "Home Workshop"</h1></font>
<div class="d-grid gap-2 col-6">
<a href="/login" type="button" class="btn btn-outline-light btn-lg" style="position: absolute;
                left: 866px;
                top: 409px; width: 210px">Авторизоваться</a>
<a href="/registration" type="button" class="btn btn-outline-light btn-lg" style="position: absolute; left: 866px; top: 492px; width: 210px">Зарегистрироваться</a>
</div>
</body>
</html>